:root {
  margin: 0;
  background: #1b1f22;
  --alkali-metals: #ff4a4a;
  --alkaline-earth: #ffa03a;
  --transition-metals: #4b9fe3;
  --post-transition-metals: #30c39e;
  --metalloid: #f4d03f;
  --polyatomic-nonmetal: #2ecc71;
  --diatomic-nonmetal: #1abc9c;
  --noble-gas: #9b59b6;
  --lanthanide: #ff9ff3;
  --actinide: #f368e0;
  --explain-width: 15px;
  --explain-radius: 2px;
}

.explain {
  display: grid;
  grid-row: 1 / 4;
  grid-column: 4 / 12;
  color: #eee;
  font-family: monospace;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(11, auto);
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.1); 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.explain > h2 {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
}

.explain > div {
    margin: 4px 10px ;
    cursor: pointer;
}

.color {
  width: var(--explain-width);
  aspect-ratio: 1/1;
  border-radius: var(--explain-radius);
}

.alkali-explain > .color {
  background-color: var(--alkali-metals);
}

.alkaline-earth-explain > .color {
  background-color: var(--alkaline-earth);
}

.transition-metal-explain > .color {
  background-color: var(--transition-metals);
}

.post-transition-metal-explain > .color {
  background-color: var(--post-transition-metals);
}

.metalloid-explain > .color {
  background-color: var(--metalloid);
}

.polyatomic-nonmetal-explain > .color {
  background-color: var(--polyatomic-nonmetal);
}

.diatomic-nonmetal-explain > .color {
  background-color: var(--diatomic-nonmetal);
}

.noble-gas-explain > .color {
  background-color: var(--noble-gas);
}

.lanthanide-explain > .color {
  background-color: var(--lanthanide);
}

.actinide-explain > .color {
  background-color: var(--actinide);
}
